<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/styles.css"/>
</head>
<body>
    <h1>Pagina de inicio - Inversiones</h1>
    <% if (login) { %>
    <h2>Usuario conectado: <strong><%= name %></strong></h2>
    <a href="companys">Invertir</a>
    <a href="logout">Log-out</a>
    <% }else{  %>
        <h2> <strong><%= name %></strong></h2>
        <a href="login">Log-in</a>
    <%}  %>
</body>
</html>